.category-areas
  @extends .page-section

  > .container
    width 100%
    @media(min-width: em(800px))
      display flex
      flex-wrap wrap
      justify-content space-around
      padding-left 20px
      padding-right 20px
    @media(min-width: em(1300px))
      padding-left 40px
      padding-right 40px