h2
  width 100%
  font-size em(30px)
  font-family "roboto light"
  font-weight normal
  margin 30px 0
  text-align center
  @media (min-width: em(800px))
    font-size em(50px)
    margin 60px 0

h3
  font-family "roboto light"
  font-weight normal