.notfound-container
  width 100%
  text-align center
  margin 40% auto
  padding 0 10%
  font-size 100%
  @media (min-width: 800px)
    margin 15% 0
    padding 0 20%

  > .title
    font-size em(40px)
    color $accentColor
    @media (min-width: 800px)
      font-size em(70px)

  > .subtitle
    font-size em(30px)
    color $secondaryTextColor
    @media (min-width: 800px)
      font-size em(50px)