$darkPrimaryColor     = #1A5776
$primaryColor         = #267FAC
$lightPrimaryColor    = #00A7B9
$textPrimaryColor     = #FFFFFF
$accentColor          = #CA4B00
$darkAccentColor      = #9B3A00
$primaryTextColor     = #212121
$secondaryTextColor   = #727272
$dividerColor         = #B6B6B6
$inputFocusValid      = #448B33
$inputFocusInvalid    = #820C0E

$messageInfo          = #448B33
$messageWarn          = #A29506
$messageError         = #820C0E