// Menu
$topBarMenuHeightMobile       = 60px
$topBarMenuHeightDesktop      = 70px

// Banners
$bannerHomeHeight             = 420px
$bannerHeight                 = 300px
$bannerHeightMobile           = 370px

// Margins
$contentHomeMarginTop         = $bannerHomeHeight
$contentMarginTop             = $bannerHeight