footer.footer-container
  div.social
    div.container
      div.grid
        a.link(href="https://www.facebook.com/ColetivoEduca/", target="_blank")
          svg.icon(viewBox="0 0 48 48")
            use(xlink:href="/build/images/default/layout/icons.svg#icon-facebook")
        a.link(href="https://twitter.com/ColetivoEduca", target="_blank")
          svg.icon(viewBox="0 0 48 48")
            use(xlink:href="/build/images/default/layout/icons.svg#icon-twitter")
        a.link(href="https://www.instagram.com/coletivoeducacao/", target="_blank")
          svg.icon(viewBox="0 0 48 48")
            use(xlink:href="/build/images/default/layout/icons.svg#icon-instagram")
        a.link(href="https://coletivoemrede.wordpress.com/", target="_blank")
          svg.icon(viewBox="0 0 48 48")
            use(xlink:href="/build/images/default/layout/icons.svg#icon-blog")
      div.label Coletivos Nas Redes