div
  p.messages_invalid(data-ng-message='required') Preencha o campo
  p.messages_invalid(data-ng-message='minlength') Campo com poucos caracteres
  p.messages_invalid(data-ng-message='maxlength') Campo com muitos caracteres
  p.messages_invalid(data-ng-message='email') Email inválido
  p.messages_invalid(data-ng-message='emailexists') Email já cadastrado
  p.messages_invalid(data-ng-message='cpfvalid') CPF inválido
  p.messages_invalid(data-ng-message='cpfexists') CPF já cadastrado
  p.messages_invalid(data-ng-message='usernameexists') Usuário já utilizado
