.our-mission
  @extends .page-section
  font-family "roboto light"

  > .text
    width 100%
    font-size em(18px)
    line-height 27px
    color $primaryTextColor
    @media (min-width: em(800px))
      width 90%
      margin 0 auto
      font-size em(20px)
    @media (min-width: em(1024px))
      width 80%
      line-height 32px
