@require "layout/top-bar"
@require "layout/menu"
@require "layout/page-banner"
@require "layout/main-title"
@require "layout/footer"
@require "layout/search-modal"
@require "layout/person-display"
@require "layout/combo-box"
@require "layout/show-message"
@require "home/home-banner"
@require "home/news-item"
@require "home/coworking"
@require "courses/courses"
@require "courses/category-areas"
@require "courses/category-item"
@require "courses/text-banner-with-title"
@require "courses/course-detailing"
@require "courses/buy-component"
@require "courses/not-logged-component"
@require "courses/courses-core-filter"
@require "about-us/our-mission"
@require "about-us/areas-expertise"
@require "partners/partner-item"
@require "cores/core"
@require "login/login-container"
@require "login/login-form"
@require "login/register-shortcut"
@require "login/forget-password"
@require "login/reset-password"
@require "register/register"
@require "register/form-register"
@require "student-area/my-courses"
@require "student-area/payment"
@require "student-area/checkout"
@require "student-area/my-account"
@require "notfound/notfound"
@require "contact/contact"
