.reset-password
  width 100%
  margin-top $topBarMenuHeightDesktop + 20px
  font-family "roboto light"
  @extend .page-section
  @media(min-width: em(800px))
    padding 0 10%
  @media(min-width: em(1366px))
    margin-top $topBarMenuHeightDesktop + 70px
  @media(min-width: em(1440px))
    margin-bottom 12%

  > .form
    width 100%

    > .inputcontainer_full
      position relative
      width 100%
      margin-top 25px

      > .messages-container
        top -15px

      > .icon
        width 30px
        height 30px
        position absolute
        right 15px
        top 36%
        z-index 2
        &:hover
          cursor pointer

    > .submit
      width 100%
      @media(min-width: em(800px))
        display flex
        justify-content flex-end

      > .inputsubmit
        width 100%
        margin-top 30px
        font-size em(20px)
        background $primaryColor
        color #FFF
        transition all .2s linear
        @media(min-width: em(800px))
          width 200px
          height 60px
        &:hover
          transition all .2s linear
          transform scale(1.05)
          cursor pointer

  > .message
    width 100%
    font-size em(20px)
    color $accentColor
    margin-top 30px
    text-align center

.inputsubmit_disabled
  transition all .2s linear
  background #999 !important
  opacity .7
  cursor auto !important
  &:hover
    transform scale(1.0) !important
