section.notfound-container
  h1.title Página não encontrada :(
  h2.subtitle Navegue no menu
    span(data-ng-if="isDesktop")
      |  acima
    span(data-ng-if="isMobile")
      |  abaixo
    span
     |  para encontrar páginas existentes