doctype html
html(lang="pt-br", data-ng-app="coletivo")
  head
    meta(charset='utf8')
    base(href='/')
    title="Coletivo Educação"
    link(rel='manifest' href='build/manifest.json')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css')
    link(rel='stylesheet', href='build/css/loader.css')
    link(rel='stylesheet', href='build/css/index.css')
    link(rel='shortcut icon', href='image/favicon.ico', type='image/x-icon')
  body(data-device-detector)
    block body